{% extends 'baseb4.html' %}
{% load staticfiles %}

{% block body %}

<style>
  .selected {
    border: 3px solid blue;
  }
</style>


    <div class="split left" id="firstDiv" data-js-vars="{{ javascript_vars | safe }}">
        <div class="header">
          <img src="{% static 'img/icons/urWay64alt.png' %}" href="{% url 'labyrinth:index' %}" alt="logo" />
          <h1>Find your way!</h1>
        </div>
        <br>

        <div class="centered text-center">
            <h2 class="text-center">¡Select Your Character!</h2>
            <br>
            <h4 class="text-center">
                You have to select 1(min) to 4(max) <br>
            </h4>
            <br><br>

            <div class="row">
                <div class="col-xs-6 col-md-3">
                  <a href="#" class="thumbnail" onclick="check()" name="batman">
                    <img width="100px" height="80px" src="{%static 'img/characters/batman.jpg'%}" alt="Batman">
                  </a>
                  <a href="#" class="thumbnail" name="Deadpool">
                    <img width="100px" height="80px" src="{%static 'img/characters/deadpool.jpg'%}" alt="Deadpool">
                  </a>
                  <a href="#" class="thumbnail" name="spiderman">
                    <img width="100px" height="80px" src="{%static 'img/characters/spiderman.jpg'%}" alt="Spiderman">
                  </a>
                </div>

                <div class="col-xs-6 col-md-3">
                  <a href="#" class="thumbnail" name="Captain America">
                    <img width="100px" height="80px" src="{%static 'img/characters/captain.jpg'%}" alt="Captain America">
                  </a>
                  <a href="#" class="thumbnail" name="Superman">
                    <img width="100px" height="80px" src="{%static 'img/characters/superman.jpg'%}" alt="Superman">
                  </a>
                  <a href="#" class="thumbnail" name="Ironman">
                    <img width="100px" height="80px" src="{%static 'img/characters/ironman.jpg'%}" alt="Ironman">
                  </a>
                </div>

                <div class="col-xs-6 col-md-3">
                  <a href="#" class="thumbnail" name="Panther">
                    <img width="100px" height="80px" src="{%static 'img/characters/panther.jpg'%}" alt="Black Panther">
                  </a>
                  <a href="#" class="thumbnail" name="Joker">
                    <img width="100px" height="80px"src="{%static 'img/characters/joker.jpg'%}" alt="Joker">
                  </a>
                </div>

                <div >
                  <a disabled="disabled" id="next" class="btn btn-primary btn-lg vcenter">¡Next!</a>
                </div>

              </div>
        </div>
    </div>


    <div class="split right">
        <!-- <div class="sideImg">
            <img src="{% static 'img/blueDoor.jpg' %}" alt="blueDor"  style="width: 100%; height: 100%;">
        </div> -->

        <table class="table" id="characters-table">
        </table>

    </div>

{% endblock %}


{% block scripts %}
    <script src="{% static 'js/labyrinth/upload.js' %}"></script>

    <script type="text/javascript">
        var one ;
        var err_flag = false;
        var jvars = document.getElementById('firstDiv').getAttribute('data-js-vars');
        jvars = jvars.replace(/'/g, '"');
        jvars = JSON.parse(jvars || '{}');

        if(jvars.error == 1){
           swal({
              title: 'Oh no!',
              {#text: "It seems that your Labirynth isn't correct.",#}
              text: jvars.message,
              type: 'error',
              confirmButtonColor: '#3085d6',
              confirmButtonText: 'I understand'
            })
        }
    </script>

    <script type="text/javascript">

      let jvars_text = {"maze":[["0.0","1.0","2.0","3.0","4.0","5.56"],["1.0","1.0","1.0","1.0","1.0","1.0"],["1.0","2.0","1.0","1.0","2.0","2.0"],["2.0","2.67","2.0","1.0","1.0","1.0"],["1.0","1.15","1.0","1.0","1.0","1.0"],["0.0","0.0","0.0","0.0","0.0","0.0"],["3.0","3.0","3.0","3.0","3.0","3.0"]],"lands":[{"id":"0.0","name":"fuego","color":"808080","image":""},{"id":"1.0","name":"tierra","color":"808080","image":""},{"id":"2.0","name":"agua","color":"808080","image":""},{"id":"3.0","name":"3.0","color":"808080","image":""},{"id":"4.0","name":"4.0","color":"808080","image":""},{"id":"5.56","name":"5.56","color":"808080","image":""},{"id":"2.67","name":"2.67","color":"808080","image":""},{"id":"1.15","name":"1.15","color":"808080","image":""}]};
      let selectedCharacters = Array();

      setTableHeaders();
      function setTableHeaders(){
      $("#characters-table").append("<th>Heroe</th>")
      jvars_text.lands.forEach(function(land, landIndex){
        $("#characters-table").append("<th>" + land.name + "</th>")
      });
      }

      $(".thumbnail").on("click", function(e){
        let jqCharacter = $(e.currentTarget);
        jqCharacter.hasClass("selected") ?
        deselectACharacter(jqCharacter) : selectACharacter(jqCharacter);
      });

      function selectACharacter(jqCharacter){

      if(selectedCharacters.length < 4){

        jqCharacter.addClass("selected");

        pushableObject = { 'name': jqCharacter.attr('name') };
        jvars_text.lands.forEach(function(land, index){
          pushableObject['cost-' + land.name] = 0;
        });
        selectedCharacters.push(pushableObject);

        refreshTable();
        disableProperty();

      }
      }

      function deselectACharacter(jqCharacter){
      let foundIndex = selectedCharacters.findIndex(function(element){
        return element.name == jqCharacter.attr("name");
      });

      selectedCharacters.splice( foundIndex, 1 );
      jqCharacter.removeClass("selected");

      refreshTable();
      disableProperty();

      }

      function refreshTable(){

      $("#characters-table tr").remove();
      selectedCharacters.forEach(function(character, charIndex){
          let appendableRow = "<tr>" +
          "<td>" + character.name + "</td>";

          jvars_text.lands.forEach(function(land, landIndex){

            let val = character['cost-' + land.name];
            val = val === undefined ? 0 : val;

            appendableRow += "<td><input type='number' style='width: 40px' class='cost-input' min='0' value=" + val +" land-name="+ land.name +" character-index="+ charIndex +"></td>"
          });
          appendableRow += "</tr>";

         $("#characters-table").append(appendableRow);
      });

      }

      function disableProperty(){
      selectedCharacters.length == 0 ? $("#next").attr('disabled', 'disabled') : $("#next").removeAttr('disabled');
      }

      $("#characters-table").on("input", ".color-select", function(colorSelect){
      let jqTarget = $(colorSelect.currentTarget);
      let character = selectedCharacters[jqTarget.attr('character-index')];
      character.color = jqTarget.val();
      });

      $("#characters-table").on("input", ".cost-input", function(costInput){
      let jqTarget = $(costInput.currentTarget);
      let character = selectedCharacters[jqTarget.attr('character-index')];
      character['cost-' + jqTarget.attr('land-name')] = jqTarget.val();
      });


    </script>
{% endblock scripts %}
