{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}
      <nav class="navbar navbar-default navbar-fixed-top">
         <div class="col-md-12">
            <a class="navbar-brand" href="/">
              <img class="logo" src="static/img/icons/urWay64alt.png" alt="logo">
            </a>
         </div>
      </nav>
      <!-- Header -->
      <div class="span12">
         <div class="col-md-6 no-gutter text-center fill">
            <h2 class="vcenter">¡OPS! Something happend <br></h2>
            <br>
            <div class="vcenter">
              <a type="button" class="btn btn-primary btn-lg vcenter" href="/maze/upload" >¡PLAY!</a>
            </div>

         </div>
         <div class="col-md-6 no-gutter text-center">
            <div id="header" data-speed="2" data-type="background">
               <div id="headslide" class="carousel slide" data-ride="carousel">
                  <!-- <div class="carousel-inner" role="listbox"> -->
                     <div class="item active">
                        <img src="{% static "img/mistake2.jpg" %}" alt="Slide">
                     </div>
               </div>
            </div>
         </div>
      </div>
      <div style="clear:both;"></div>
{% endblock %}
