{% extends 'baseb4.html' %}
{% load staticfiles %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'css/labyrinth/play.css' %}">
{% endblock %}


{% block body %}
    <div id="leftSide" class="split75 left" onkeydown="whichButton(event)">
        <div class="header">
          <img src="{% static 'img/icons/urWay64alt.png' %}" alt="logo" />
          <h1>Find your way!</h1>
        </div>
        <br> <br>

        <h5 class="row">1. Choose a priority</h5>

        <div class="algorithms-row row mb-3">
            <button class="btn priority mr-1" data-priority="right" type="button" onclick="choosePriority(event)">RIGHT</button>
            <button class="btn priority mr-1" data-priority="left" type="button" onclick="choosePriority(event)">LEFT</button>
            <button class="btn priority mr-1" data-priority="top" type="button" onclick="choosePriority(event)">TOP</button>
            <button class="btn priority" data-priority="down" type="button" onclick="choosePriority(event)">DOWN</button>
        </div>

        <h5 class="row">2. Choose a character</h5>

        <div id="characters-row" class="row mb-2 text-center">
        </div>

        <h5 class="row">3. Choose an algorithm</h5>

        <div class="algorithms-row row mb-2">
            <button class="btn" type="button" onclick="uniformCost()">Uniform cost</button>
        </div>

        <div id="mazeHeader" class="row">
            <div class="Hcell">
            </div>
        </div>


    </div>


    <div id="rightSide" class="split25 right">

        <h3 id="characterPlaying"></h3>
        <h3 id="characterCost"></h3>


        <div class="instructions">
            <!-- <h2 class="text-left">¡Tree!</h2> -->
            <br>
            <br><br>
            <div id="network-graph"></div>
        </div>

    </div>
{% endblock %}


{% block scripts %}
    <script src="{% static 'js/labyrinth/play.js' %}"></script>

    <script>
        let alphabet = ["A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z"];
        //Session storage vars
        let maze = [];
        let lands = [];
        let begin = [];
        let end = [];
        let characters = [];

        let nodes = [];
        let nodesVisited = [];
        let nodesExpanded = [];
        let priorities = [];

        let land;

        // movs-in-the-game vars
        let currentPos = [];
        let nActual = false;
        let player;
        let playerImage;
        let srcImage;
        let goal;
        let movs = [];
        let totalCost = 0;

        // Tree
        let tree = [];
        let visited = [];
        let expanded = [];
        let parentNode = [];

        // Detect key pressed
        function whichButton(event){
            if(!goal){
                move(event.keyCode);
            }

        }
    </script>


    <script type="text/javascript" src="//sigmajs.org/assets/js/sigma.min.js"></script>

  <script type="text/javascript">
      let data = {
        "nodes": [
          {
            "id": "n0",
            "label": "A node",
            "x": 0,
            "y": 0,
            "size": 2
          },
          {
            "id": "n1",
            "label": "Another node",
            "x": -1,
            "y": 1,
            "size": 2
          },
          {
            "id": "n2",
            "label": "And a last one",
            "x": 1,
            "y": 1,
            "size": 2
          },
          {
            "id": "n3",
            "label": "child",
            "x": -2,
            "y": 2,
            "size": 2
          },
          {
            "id": "n4",
            "label": "child",
            "x": -1,
            "y": 2,
            "size": 2
          }
        ],
        "edges": [
          {
            "id": "e0",
            "source": "n0",
            "target": "n1"
          },
          {
            "id": "e1",
            "source": "n1",
            "target": "n4"
          },
          {
            "id": "e3",
            "source": "n1",
            "target": "n3"
          },
          {
            "id": "e2",
            "source": "n2",
            "target": "n0"
          }
        ]
        }

        s = new sigma({
        graph: data,
        container: 'network-graph',
        settings: {
          defaultNodeColor: '#ec5148',
          defaultEdgeColor: '#000'
          }
        });

  </script>


{% endblock scripts %}
