{% extends 'baseb4.html' %}
{% load staticfiles %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'css/labyrinth/preview.css' %}">
{% endblock %}


{% block body %}
    <div id="leftSide" class="split75 left" onkeydown="whichButton(event)">
        <div class="header">
          <img src="{% static 'img/icons/urWay64alt.png' %}" alt="logo" />
          <h1>Find your way!</h1>
        </div>
        <br> <br>

        <div id="characters-row" class="row">

        </div>
        <br>

        <div id="mazeHeader" class="row">
            <div class="Hcell">
            </div>
        </div>


    </div>


    <div class="split25 right">

        <h3 id="characterPlaying"></h3>
        <h3 id="characterCost"></h3>

        <div id="treeView" class="text-center">

        </div>

    </div>
{% endblock %}


{% block scripts %}
    <script src="{% static 'js/labyrinth/play.js' %}"></script>

    <script>
        //Session storage vars
        var maze = [];
        var lands = [];
        var begin = [];
        var end = [];
        var characters = [];

        var land;

        // movs-in-the-game vars
        var currentPos = [];
        var player;
        var playerImage;
        var srcImage;
        var goal;
        var movs = [];
        var totalCost = 0;


        // Detect key pressed
        function whichButton(event){
            if(!goal){
                move(event.keyCode);
            }

        }
    </script>



{% endblock scripts %}
