{% extends 'base.html' %}
{% load staticfiles %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'css/labyrinth/preview.css' %}">
{% endblock %}


{% block body %}

    <div class="split75 left">
        <div class="row">
            <div class="cell">
            </div>
            {% for i in maze.1 %}
                <div class="cell" data-letter="{{ forloop.counter0 }}" >

                </div>
            {% endfor %}
        </div>
        {% for i in maze %}
            <div class="row">
                <div class="cell">
                    {{ forloop.counter }}
                </div>
                {% for val in i %}
{#                    <div class="cell"> {{ forloop.counter }} </div>#}
                    <div data-id="{{ val }}" onclick="" class="cell"> {{ val }} </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <div class="split25 right">

         <table class="table">
            <thead class="thead-dark">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Name</th>
                  <th scope="col">Color</th>
                </tr>
            </thead>
            <tbody>

                {% for i in lands %}
                    <tr>
                        <td id="{{ i.id }}">{{ i.id }}</td>
                        <td>
                            {{ i.name }}
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">{{ i.id }}</span>
                              </div>
                              <input type="text"                        class="form-control"
                                     placeholder="{{ i.id }}"           aria-label="Username"
                                     aria-describedby="basic-addon1"    onkeyup="changeName(this)">
                            </div>
                        </td>
                        <td>
                            <input data-colorID="{{ i.id }}" class="jscolor" onchange="update(this.jscolor, this)" value="808080">

                        </td>
                    </tr>
                {% endfor %}

                <tr></tr>
            </tbody>
        </table>

    </div>


{% endblock %}


{% block scripts %}
    <script type="text/javascript">

    </script>
    <script src="{% static 'js/labyrinth/preview.js' %}"></script>
    <script src="{% static 'js/colorpicker/jscolor.js' %}"></script>
    <script type="text/javascript">
        var mazeList = (("{{maze |safe}}").replace(/&(l|g|quo)t;/g, function(a,b){
            return {
                l   : '<',
                g   : '>',
                quo : '"'
            }[b];
        }));

        mazeList = mazeList.replace(/u'/g, '\'')
        mazeList = mazeList.replace(/'/g, '\"')

        maze = JSON.parse( mazeList );
        {#console.log(maze)#}

        var landList = (("{{lands |safe}}").replace(/&(l|g|quo)t;/g, function(a,b){
            return {
                l   : '<',
                g   : '>',
                quo : '"'
            }[b];
        }));

        landList = landList.replace(/u'/g, '\'')
        landList = landList.replace(/'/g, '\"')

        lands = JSON.parse( landList );
        {#console.log(lands)#}

    </script>
{% endblock scripts %}
