{% extends 'baseb4.html' %}
{% load staticfiles %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'css/labyrinth/tree.css' %}">
{% endblock %}


{% block body %}

    <div class="split-left left" id="firstDiv" data-js-vars="{{ javascript_vars | safe }}">
        <div class="header">
          <img src="{% static 'img/icons/urWay64alt.png' %}" href="{% url 'labyrinth:index' %}" alt="logo" />
          <h1>Find your way!</h1>
        </div>
        <br>
    </div>

    <div id="network-graph"></div>

{% endblock %}


{% block scripts %}
  <script type="text/javascript" src="//sigmajs.org/assets/js/sigma.min.js"></script>

  <script type="text/javascript">
      data = {
        "nodes": [
          {
            "id": "n0",
            "label": "A node",
            "x": 0,
            "y": 0,
            "size": 3
          },
          {
            "id": "n1",
            "label": "Another node",
            "x": -1,
            "y": 1,
            "size": 3
          },
          {
            "id": "n2",
            "label": "And a last one",
            "x": 1,
            "y": 1,
            "size": 3
          }
        ],
        "edges": [
          {
            "id": "e0",
            "source": "n0",
            "target": "n1"
          },
          {
            "id": "e1",
            "source": "n1",
            "target": "n2"
          },
          {
            "id": "e2",
            "source": "n2",
            "target": "n0"
          }
        ]
        }
        s = new sigma({
        graph: data,
        container: 'network-graph',
        settings: {
          defaultNodeColor: '#ec5148',
          defaultEdgeColor: '#000'
          }
        });

        s.refresh()
  </script>


{% endblock scripts %}
