{% extends 'baseb4.html' %}
{% load staticfiles %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'css/labyrinth/tree.css' %}">
{% endblock %}


{% block body %}

    <div class="split-left left" id="firstDiv" data-js-vars="{{ javascript_vars | safe }}">
        <div class="header">
          <img src="{% static 'img/icons/urWay64alt.png' %}" href="{% url 'labyrinth:index' %}" alt="logo" />
          <h1>Find your way!</h1>
        </div>
        <br>
    </div>

    <div class="split-right right">
        <div id="network-graph"></div>
    </div>

{% endblock %}


{% block scripts %}
  <script type="text/javascript" src="//sigmajs.org/assets/js/sigma.min.js"></script>

  <script type="text/javascript">
      data = {
        "nodes": [
          {
            "id": "n1",
            "label": "Node 1",
            "x": 0,
            "y": 0,
            "size": 3
          },
          {
            "id": "n2",
            "label": "Node 2",
            "x": 1,
            "y": -1,
            "size": 3
          },
          {
            "id": "n3",
            "label": "Node 3",
            "x": 1,
            "y": 1,
            "size": 3
          },
          {
            "id": "n4",
            "label": "Node 4",
            "x": 2,
            "y": -1,
            "size": 3
          },
          {
            "id": "n5",
            "label": "Node 5",
            "x": 1,
            "y": 0,
            "size": 3
          },
          {
            "id": "n6",
            "label": "Node 6",
            "x": 2,
            "y": 1,
            "size": 3
          }
        ],
        "edges": [
          {
            "id": "e0",
            "source": "n1",
            "target": "n2"
          },
          {
            "id": "e1",
            "source": "n1",
            "target": "n3"
          },
          {
            "id": "e2",
            "source": "n2",
            "target": "n4"
          },
          {
            "id": "e3",
            "source": "n1",
            "target": "n5"
          },
          {
            "id": "e4",
            "source": "n3",
            "target": "n6"
          },
        ]
        }
        s = new sigma({
        graph: data,
        container: 'network-graph',
        settings: {
          defaultNodeColor: '#ec5148',
          defaultEdgeColor: '#000'
          }
        });

        s.refresh()
  </script>


{% endblock scripts %}
