{% extends 'baseb4.html' %}
{% load staticfiles %}


{% block body %}
    <div class="split left" id="firstDiv" data-js-vars="{{ javascript_vars | safe }}">
        <div class="header">
          <img src="{% static 'img/icons/urWay64alt.png' %}" href="{% url 'labyrinth:index' %}" alt="logo" />
          <h1>Find your way!</h1>
        </div>
        <br>

        <div class="centered text-center">
            <h2 class="text-center">Welcome!</h2>
            <br>
            <h4 class="text-center">
                Your adventure is just about to begin. <br>
                But before, you need to upload a <br>
                <span> <strong>.txt</strong> archive with your labyrinth. </span>
                <br>
                Good luck, player!
            </h4>
            <br><br>
            <form method="post" enctype="multipart/form-data" action="previewMaze/" id="form">
                <div class="input-group mb-3">
                    <label for="ejemplo_archivo_1"></label>
                    <input name="archive" type="file" id="fileInput" />
                    <button id="submitbtn" type="submit" disabled="disabled" class="btn btn-primary btn-sm" >Next</button>
                </div>
            </form>
        </div>
    </div>


    <div class="split right">
        <div class="sideImg">
            <img src="{% static 'img/blueDoor.jpg' %}" alt="blueDor"  style="width: 100%; height: 100%;">
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script src="{% static 'js/labyrinth/upload.js' %}"></script>
    <script type="text/javascript">
        sessionStorage.clear();
        var one ;
        var err_flag = false;
        var jvars = document.getElementById('firstDiv').getAttribute('data-js-vars');
        jvars = jvars.replace(/'/g, '"');
        jvars = JSON.parse(jvars || '{}');

        if(jvars.error == 1){
           swal({
              title: 'Oh no!',
              {#text: "It seems that your Labirynth isn't correct.",#}
              text: jvars.message,
              type: 'error',
              confirmButtonColor: '#3085d6',
              confirmButtonText: 'I understand'
            })
        }
    </script>
{% endblock scripts %}
