.row{
	margin-left: 2em;
}

.cell{
	padding: 0;
	height: 100px;
	width: 100px;
	display: inline-block;
}

.Hcell{
	padding: 0;
	height: 100px;
	width: 100px;
	display: inline-block;
}


.split75 .header img {
  float: left;
  width: 80px;
  height: 80px;
}


.split75 .header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}


#network-graph {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.split25 .contenedor-arbol, .contenedor-arbol ul, .contenedor-arbol li {
    position: relative;
}

.split25 .contenedor-arbol ul {
    list-style: none;
}

.split25 .contenedor-arbol li::before, .contenedor-arbol li::after {
    content: "";
    position: absolute;
    left: -12px;
}

.split25 .contenedor-arbol li::before {
    border-top: 2px solid green;
    top: 9px;
    width: 8px;
    height: 0;
}

.split25 .contenedor-arbol li::after {
    border-left: 2px solid brown;
    height: 100%;
    width: 0px;
    top: 2px;
}

.split25 .contenedor-arbol ul > li:last-child::after {
    height: 8px;
}
