.row{
	margin-left: 2em;
}

.cell{
	padding: 0;
	height: 100px;
	width: 100px;
	display: inline-block;
}

.Hcell{
	padding: 0;
	height: 100px;
	width: 100px;
	display: inline-block;
}


.split75 .header img {
  float: left;
  width: 80px;
  height: 80px;
}


.split75 .header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}


#network-graph {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}
