.row{
	margin-left: 2em;
}

.cell{
	/*margin: 20px;*/
	padding: 0px;
	height: 33px;
	width: 33px;
	display: inline-block;
	/*position: relative;*/
}

.cell:hover{
	box-shadow: inset 0px 0px 6px green,
				inset 0px 0px 2px green,
				inset 0px 0px 15px green;
}

.blueL{
	background:	#E0FFFF;
}