{% load staticfiles %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Find your way</title>
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/icons/urWay16alt.png' %}" />
    <link rel="icon" type="image/png" href="{% static 'img/icons/urWay16alt.png' %}" />
    <link rel="stylesheet" href="{% static 'css/urWayStyles.css' %}">

    <!-- Nuevos agregados para plantilla -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,300,500" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/lightbox.css' %}">

</head>
<body>
    {% block body %}
    {% endblock body %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/menu-color.js' %}"></script>
    <script src="{% static 'js/modernizr.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
